@page "/createchatroom/"
@inject NavigationManager navigationManager;
@inject IChatRoomService chatRoomService;
<form onsubmit="@OnSubmit">
    Name: <input @bind="_chatName" type="text" placeholder="Enter chatroom name"/>
    Password: <input @bind="_password" type="text" placeholder="OPTIONAL"/>
    <hr/>
    <DevButton OnClickCallback="OnSubmit">Create room</DevButton>
</form>
@code {
    string _chatName;
    string _password;
    private async Task OnSubmit()
    {
        if (string.IsNullOrWhiteSpace(_chatName)) return;
        var newChatRoom = new ChatRoomModel(_chatName, _password);
        await chatRoomService.CreateChatRoomAsync(newChatRoom);
        _chatName = string.Empty;
        _password = string.Empty;
        navigationManager.NavigateTo("/chatroom/");
    }
}
